# Server-side secrets (set these in Vercel project environment variables or local .env.local)
SOLANA_RPC_URL=https://api.devnet.solana.com
RPC_URL=https://api.devnet.solana.com
MOCK_SPYX_MINT_AUTHORITY=your_mock_spyx_mint_authority_base58_private_key
MOCK_PT_MINT_AUTHORITY=your_mock_pt_mint_authority_base58_private_key
MOCK_YT_MINT_AUTHORITY=your_mock_yt_mint_authority_base58_private_key

# Pyth Pro / Hermes API Key (server-side only, from Pyth Terminal)
PYTH_API_KEY=your_pyth_api_key_here

# Client-side configuration (Public Devnet Addresses)
NEXT_PUBLIC_PROGRAM_ID=9WRT68i9TJ1wi3fDv4offsxbNmkkstQAHY9XNN4YQnZG
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_DEMO_VAULT_PDA=96ThTiiMHJLtQE9BfukzYUiHCNByptfkF6s1oiBbHYsR
NEXT_PUBLIC_MOCK_SPYX_MINT=EMqGxJdEaCEPxN5NhKY4sAoze877TRhfhVrXYLbg5GC8
NEXT_PUBLIC_MOCK_PT_MINT=3GSyLYWRSZaNdPW41xcTrWrR7Qvn6X5Lv4F3d4CUHni3
NEXT_PUBLIC_MOCK_YT_MINT=HhKNM1MTQU1dG4jyyHnuT6cz4GSyeakR2yN8GGmBb4WE
NEXT_PUBLIC_USDC_MINT=AXQKoNyChJ9vihK3qThe9UdT6xteoh1Lc4roqP98i2zW
NEXT_PUBLIC_YT_DAMM_POOL=BvMKwwPFH781QqJuk4pRdvATg2rSuyHzVLuGMpgrax6o
NEXT_PUBLIC_YT_DBC_POOL=FmPChn3VTSainyKArE7zFLn3FMxKnRwTxdLrgmyfVHg5
NEXT_PUBLIC_PT_DAMM_POOL=8cwZ7yESFJw7DyM1JWVE92Zu9NHHX82jbdCau6v1oW7s
NEXT_PUBLIC_SPYX_PYTH_FEED=0x19e09bb805456ada3979a7d1cbb4b6d63babc3a0f8e8a9509f68aca80f0612684
NEXT_PUBLIC_VOO_PYTH_FEED=0x236b30dd09a9c00dfeec156c7b1efd646c0f01825a1758e3e4a0679e3bdff179
